body {
    background: #1c1c1c;
}

h1 {
    color: white;
    font-size: 4em;
    padding-top: 0.1em;
    padding-left: 0.1em;
    padding-right: 0.1em;
    text-align: center;
}

h2 {
    color: white;
    font-size: 4em;
    font-family: systems-ui;
    text-align: center;
}

h3 {
    color: white;
    font-size: 3em;
    opacity: 0;
    transition: 0.5s;
    text-align: center;

	/* rainbow gradient */
	background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

ul {
    list-style: none;
    text-align: center;
    padding: 0em;
    padding-bottom: 3em;
    margin: auto;
}

li {
    padding: 0.5em;
}

button {
    background-color: #408fbf; /* Blue */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margine: 5%;
    width: 50%;
}

button:focus {
  outline: none;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

th {
  background-color: #408fbf; /* Blue */
  font-size: .8em;
}

table, tr, th, td {
  border-collapse: collapse;
  border: 2px solid #408fbf; /* Blue */
  margin: auto;
  padding: .5em;
  font-family: system-ui;
}

tr {
  font-size: 1.3em;
  background-color: lightblue;
  color: black;
}
